@import './src/breakpoints.scss';

footer {
    padding: 16px var(--distX);
    height: var(--menu-height);
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $breakpoint-sm) {
        flex-direction: column-reverse;
        gap: 16px;
        height: calc(var(--menu-height) * 2);
        justify-content: center
    }
}

.footer-legal-links {
    // width: 50%;
    
    a {
        color: rgba(255,255,255,0.5);
        font-size: 16px;
        margin-right: 32px;

        &:last-child {
            margin-right: 0;
        }
        
        &:hover {
            color: rgba(255,255,255,0.8);
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        width:100%;
        text-align: center;
    }
}

.footer-social-links {
    a {
        margin-left: 32px;

        &:first-child{
            margin-left: 0;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
        // text-align: center;
        display: flex;
        justify-content: space-between;
    }
}

.social-icon {
    filter: invert(100%);
    width: 36px;

    &:not(disabled):hover {
        transform: scale(1.1);
    }
}


.top-link {
    $link-opacity: 0.65;
    $link-transformY: -100%;

    cursor: pointer;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:8px;
    background-color: var(--col-red);
    border-radius: 50%;
    opacity: $link-opacity;
    z-index:2;
    position: absolute;
    left: 50%;
    transform: translate(-50%, $link-transformY);
    transition: var(--transition);

    &:hover {
        // transform: translate(-50%, $link-transformY) scale(1.1);
        // opacity: 1; // style: opacity & transform set in animation - does not work here
        padding: 9px;
    }

    @media screen and (max-width: $breakpoint-sm){
        $link-transformY: -190%;
        height:24px;
        width: 24px;
        transform: translate(-50%, $link-transformY);

        &:hover {
            //transform: translate(-50%, $link-transformY) scale(1.1);
            padding: 8.5px;
           
        }
    }
}
