@import './src/breakpoints.scss';

#about {
  min-height: calc(100vh - (var(--menu-height) * 2 + 3 * 32px)); // menu-height + padding == footer-height
  padding: calc(var(--menu-height) + 2rem) var(--distX) 3rem var(--distX);
  // padding-top: calc(var(--menu-height) + 32px);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hl-row{
  margin-bottom: -2rem;
}

.about-section-hl {
  text-transform: capitalize;
  font-weight: 900;
  margin: 0;
  padding: 0;
  // border-bottom: 1px solid white;
  position:relative;
  bottom: 2rem;
  text-align: center;
}

.about-shadow-hl{
  position:relative;

}

.about-shadow-hl::before {
  content: 'About Me';
  text-transform: lowercase;
  // color: var(--col-teal);
  font-size: 3rem;
  opacity: 0.1;
  font-weight: 900;
  position: relative;
  top: 0;
  left: 0;
  border-bottom: 2px solid white;

  margin-bottom: 30px;
}


#about h3 {
  text-transform: lowercase;
  font-weight:900;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 16px;
  //    border-bottom: 1px solid var(--col-teal-05);
}

#about p {
  text-align: center;
  // color: white;
  // color: var(--col-grey); // lighter
  // color: rgba(0, 0, 0, 0.65); // darker 3
  line-height: 1.5;
  // font-size: 1rem;
  // margin: 0;
  // font-weight: 600;

  @media screen and (max-width: $breakpoint-md) {
    // line-height: 1.3;
  }

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 14px;
  }

}

.divider {
  // width: 40%;
  // background-color: var(--col-red);
  //margin: 16px 0 28px 0;
  height: 40px;
  display: flex;
  align-items: center;
}

.divider-quotation-start {
  .line {
    width: 32px !important;
    background-color: var(--col-teal) !important;
    background-color: var(--col-red) !important;
  }

  //   .dot:first-of-type {
  //     background-color: var(--col-red);
  //   }
}

.row {
  width: 100%;
  text-align: center;
}

.about-main,
.about-details {

  @media screen and (max-width: $breakpoint-sm) {
    padding: 2rem;
  }

  @media screen and (max-width: $breakpoint-xs) {
    padding: 1rem;
  }
}

.about-details {
  // background-color: var(--col-darkblue-05);
  background-color: #040B1E;
  padding: 3rem;
}

.about-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 0;
  position: relative;

  @media screen and (max-width: $breakpoint-sm) {
    gap: 2rem;
  }

  @media screen and (max-width: $breakpoint-xs) {
    gap: 1rem;
  }
}

.about-me {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .picture {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 50%;
    background-color: #ADB5C7;

    @media screen and (max-width: $breakpoint-smmd) {
      width: 200px;
      height: 200px;
    }

    @media screen and (max-width: $breakpoint-sm) {
      width: 150px;
      height: 150px;
    }

    @media screen and (max-width: $breakpoint-xs) {
      width: 100px;
      height: 100px;
    }
  }
}

.img-wrapper {
  position: relative;
  border-radius: 50%;
  //transition: all 450ms ease;

  &:hover::after {
    background-color: transparent;
  }
}

.img-wrapper::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 8px;
  left: 0;
  right: 0;
  background-color: rgba(255, 0, 255, 0.3);
  background-color: rgba(45, 173, 252, 0.35);
  z-index: 1;
  transition: all 225ms ease;
}

.about-me::after {
  content: '';
  position: absolute;
  border: 2px solid var(--col-teal);
  border: 4px solid var(--col-teal-02);
  padding: 16px;
  top: -32px;
  bottom: 32px;
  right: 32px;
  left: -32px;
  z-index: -1;
}

.introduction {
  // border: 5px solid var(--col-darkblue-05);
  border: 5px solid #040B1E;
  background-color: var(--col-blue-10);
  padding: 3rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  position: relative;

  p {
    width: 45%;
    margin: 0;
  }

  @media screen and (max-width: $breakpoint-lg) {
    // for option B.: skill-bars
    // @media screen and (max-width: 1035px) {
    flex-direction: column;
    gap: 2rem;

    p {
      width: 65%;
      //margin: 1rem 0;
    }

  }

  @media screen and (max-width: $breakpoint-md) {
    p {
      width: 75%;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    p {
      width: 100%;
    }
  }
}

.col-highlight {
  color: var(--col-teal);
  font-weight: 700;
}

.skills {
  // width: 50%;
  width: 100%;

}

.cards-container::after {
  content: '';
  position: absolute;
  // width: 100%;
  // height: 100%;
  border: 2px solid var(--col-red);
  border: 4px solid var(--col-red-05);
  padding: 16px;
  top: -32px;
  bottom: 32px;
  right: -32px;
  left: 32px;
  z-index: -1;
}

.cards-container {
  display: flex; // in case: cards instead of bars
  gap: 32px 16px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  // background-color: var(--col-grey-035);
  background-color: #040B1E; // var(--col-darkblue-05);
  padding: 32px 4px;
  //   border: 2px solid var(--col-teal-05);
}

.skill-card {
  background-color: var(--col-grey-035);
  background-color: var(--col-blue-10);
  width: 180px;
  height: 120px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  color: var(--col-teal);
  transition: var(--transition);
  border: 1px solid transparent;

  &:hover {
    .skill-icon {
      img {
        transform: scale(1.1);
      }
    }
  }

  .skill-icon {
    // background-color: rgba(255,255,255,0.8);
    background-color: var(--col-blue-10);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px 0px var(--col-teal-05);
    box-sizing: border-box;
    transition: all 425ms ease; //var(--transition);

    img {
      width: 32px;
      object-fit: cover;
    }
  }

  @media screen and (max-width: $breakpoint-lg) {
    width: 150px;
    height: 90px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 14px;
    width: 120px;
    //height:
  }

}

.about-details {
  width: 100;

  h3 {
    display: inline-block;
    margin-top: 0;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  p {
    margin: 32px 0;
  }
}

.quotation-start-img {
  background-color: var(--col-grey-035);
  background-color: var(--col-blue-10);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 64px;

  img {
    width: 32px;
    margin: 16px;
  }
}

.quotation-line {
  display: flex;
  justify-content: center;
  gap: 4px;

  .line {
    height: 6px;
    width: 24px;
    border-radius: 6px;
    background-color: var(--col-cyan-30);
    background-color: var(--col-teal);
  }

  .dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--col-cyan-30);
    background-color: var(--col-teal);
  }

}
