<section id="about">
  <div class="row">
    <h2>About</h2>
  </div>
  <div class="about-main">

    <!-- TODO smaller thresholds in mobile views? -->
    
    <div class="introduction" appObserveIntersection #intro="intersection"
      [@slideIn]="intro._intersecting ? 'in' : 'out'" [threshold]="0.6">
      <img class="picture" src="assets/img/passfoto.jpg" alt="picture">
      <!-- <h3>About me</h3> -->
      <div class="divider">
        <div class="quotation-line divider-quotation-start">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="line"></div>
        </div>
      </div>

      <p class="intro-short">
        I'm a <span class="col-highlight">front-end developer</span> and hobby kickboxer
        with experience in developing applications with JavaScript and Angular and a passion for pushing my boundaries.
      </p>

    </div>

    <div class="skills" appObserveIntersection #skillDiv="intersection"
      [@slideInReverse]="skillDiv._intersecting ? 'in' : 'out'" [threshold]="0.6">
      <div class="skill-bars" appObserveIntersection #el="intersection" [@slideInBar]="el._intersecting ? 'in' : 'out'"
        [threshold]="0.6">
        <div *ngFor="let skill of skills" class="progress-bar">
          <div class="progress-bar-fill" [style.width.%]="skill.value">
            <span class="progress-bar-label">{{ skill.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-secondary">
    <div class="row" appObserveIntersection #aboutHeader="intersection"
      [@slideIn]="aboutHeader._intersecting ? 'in' : 'out'" [threshold]="0.5" [rootMargin]="'200px 0px 0px 0px'">
      <!-- <h3>Who I Am</h3> -->
      <div class="quotation-start-img"><img src="assets/img/icons/quotationmarks-teal.png" alt="quotation marks"></div>
    </div>
    <p appObserveIntersection #aboutParagraph1="intersection"
      [@slideInReverse]="aboutParagraph1._intersecting ? 'in' : 'out'" [threshold]="0.5"
      [rootMargin]="'200px 0px 0px 0px'">
      {{ about.p1 }}
    </p>
    <p appObserveIntersection #aboutParagraph2="intersection"
      [@slideInReverse]="aboutParagraph2._intersecting ? 'in' : 'out'" [threshold]="0.5"
      [rootMargin]="'200px 0px 0px 0px'">
      {{ about.p2 }}

    </p>
    <p appObserveIntersection #aboutParagraph3="intersection"
      [@slideInReverse]="aboutParagraph3._intersecting ? 'in' : 'out'" [threshold]="0.5"
      [rootMargin]="'200px 0px 0px 0px'">
      {{ about.p3 }}
    </p>
    <div class="quotation-line" appObserveIntersection #quotationEnd="intersection"
      [@slideIn]="quotationEnd._intersecting ? 'in' : 'out'" [threshold]="0.5" [rootMargin]="'200px 0px 0px 0px'">
      <div class="line"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
</section>
