<section id="contact" appObserveIntersection (isIntersecting)="onIntersection($event)" [rootMargin]="'0px'" [threshold]="0.5">
  <h2 appObserveIntersection #headlineEl="intersection" [@slideIn]="headlineEl._intersecting ? 'in' : 'out'"
    [threshold]="0.8" class="contact-hl">Contact me.</h2>
  <p appObserveIntersection #paragraphEl="intersection" [@slideIn]="paragraphEl._intersecting ? 'in' : 'out'"
    [threshold]="0.8">Get in touch via the form below, or by emailing <a href="mailto:ines.fritsch@gmail.com"
      class="mailto-link">ines.fritsch@gmail.com</a></p>

  <div class="" appObserveIntersection #formEl="intersection" [threshold]="1" [rootMargin]="'200px 0px -100px 0px'"></div>

  <form action="" method="" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" [@slideUp]="formEl._intersecting || form.touched ? 'in' : 'out'">

    <div class="">
      <label for="name">Name</label><br>
      <input placeholder="Enter your name" id="name" [formControl]="name"
        [class.faulty-entry]="name.invalid && (name.dirty || name.touched)" class="form-control" required>
      <span *ngIf="name.invalid && (name.dirty || name.touched)" class="error-msg">Please enter a name</span>
    </div>

    <div class="">
      <label for="email">Email</label><br>
      <input placeholder="Enter your Email address" id="email" [formControl]="email"
        [class.faulty-entry]="email.invalid && (email.dirty || email.touched)" class="form-control">
      <span *ngIf="email.invalid && (email.touched)" class="error-msg">Please enter a valid email
        address</span>
      <span *ngIf="!email.invalid || email.untouched" class="hint-message">Your email will not be passed on to third
        parties</span>
    </div>

    <div class="">
      <label for="message">Message</label><br>
      <textarea #msgInput placeholder="Enter your message" id="message" [formControl]="message"
        [class.faulty-entry]="message.invalid  && (message.dirty || message.touched)" class="form-control"></textarea>
      <!-- <span class="hint-message">300 Characters of 300 still left</span> -->
      <span *ngIf="message.invalid  && (message.dirty || message.touched)" class="error-msg message-error">Please enter
        a message</span>
    </div>

    <div class="">
      <button [class.btn-disabled]="form.untouched" (click)="onCancelInput()" class="cancel-btn">Cancel</button>
      <button [disabled]="!form.valid" [class.btn-disabled]="!form.valid" type="submit">Send</button>
    </div>

  </form>

</section>
