@import './src/breakpoints.scss';

#contact {
  padding: 60px var(--distX);
  background-color: var(--col-black);
  color: white;
}

h2 {
  color: var(--col-teal);
  font-size: 2rem;
  font-weight: 900;
}

p {
  margin-top: 8px;
  margin-bottom: 32px;

  .mailto-link {
    color: var(--col-teal);
  }
}

label {
  font-weight: 600;//500;
  padding-bottom: 8px;
}

textarea {
  height: 159px;
  width: 100%;
}

input {
  width: 100%;
}

.error-msg {
  color: var(--col-red);
  color: rgba(255,255,255,0.8);
  margin-top: 8px;
  font-size: 12px;
  //font-weight: 700;
  position: absolute;
  bottom: 16px;
  left: 0;

  @media screen and (max-width: 371px) {
    //position: relative;
    bottom: 16px;
  }
}

.message-error {
  bottom: 21px;//8
}

.hint-message {
  color: rgba(255,255,255,0.5);
  margin-top: 8px;
  font-size: 12px;
  position: absolute;
  bottom: 16px;
  left: 0;

  @media screen and (max-width: 371px){
    //position: relative;
    bottom: 20px;
    font-size: 11px;
  }

  @media screen and (max-width: $breakpoint-xs) {
    //bottom: 8px;
  }

  @media screen and (max-width: 303px){
    display: none;
  }
}

.faulty-entry {
  border: 1px solid var(--col-red-07);
}

form {
  div {
    //margin-top: 16px;
    position: relative;
    padding-bottom: 32px;

    &:last-child {
      padding-bottom: 0;
      // padding-top: 24px;
      display: flex;
      justify-content: flex-end;
      gap: 32px;

      @media screen and (max-width: $breakpoint-smmd) {
        justify-content: space-between;
      }
    }
  }

  button {
    border: 1px solid var(--col-teal);
    color: var(--col-teal);
    border-radius: 2px;
    width: 160px;
    height: 55px;

    &:hover:not(.cancel-btn) {
      color: var(--col-black);
      background-color: var(--col-teal);
    }
  }
}

.cancel-btn {
  color: var(--col-teal-05) !important;
  
  &:hover:not(.btn-disabled) {
    border: 1px solid var(--col-teal-05) !important;
    color: var(--col-black) !important;
    background-color: var(--col-teal-05);
  }

}

.btn-disabled {
  color: var(--col-teal-05) !important;
  pointer-events: none;
  
  &:not(.cancel-btn) {
    border: 1px solid var(--col-teal-02) !important;
  }

}

