<section id="contact">
  <h2>Contact me.</h2>
  <p>Get in touch via the form below, or by emailing <span>Hello@fines.com</span></p>

  <form action="">

    <div class="">
        <label for="name">Name</label><br>
        <input placeholder="Enter your name" id="name">
        <span class="error-msg"></span>
    </div>

    <div class="">
        <label for="name">Email</label><br>
        <input placeholder="Enter your Email address" id="email" class="faulty-entry">
        <span class="error-msg">Error something something!</span>
    </div>

    <div class="">
        <label for="name">Message</label><br>
        <textarea placeholder="Enter your message" id="message"></textarea>
        <span class="hint-message">300 Characters of 300 still left</span>
        <span class="error-msg"></span>
    </div>

    <div class="">
        <button type="submit">Send</button>
    </div>
  </form>

  <!-- Form -->
</section>
