<section id="portfolio" #portfolio>

  <div class="filter-row">
    <h2 appObserveIntersection (isIntersecting)="setIntersection($event, 'header')" [@slideIn]="headerAnimationIn ? 'in' : 'out'">Portfolio</h2>
    <div class="filter-buttons" appObserveIntersection [threshold]="0.8" (isIntersecting)="setIntersection($event, 'buttons')" [@slideUp]="btnAnimationIn ? 'in' : 'out'">
      <button (click)="filterProjects()" [class.selected]="filter === undefined">All</button>
      <!-- <span class="mobile-row"> -->
      <button (click)="filterProjects('JavaScript')" [class.selected]="filter === 'JavaScript'">JavaScript</button>
      <button (click)="filterProjects('Angular')" [class.selected]="filter === 'Angular'">Angular</button>
      <!-- </span> -->
    </div>
    <!-- <div class="filter-divider"></div> -->
  </div>

  <div *ngFor="let project of filteredProjects, let i = index" class="portfolio-row" appObserveIntersection #el="intersection" (isIntersecting)="project.intersection">
    <div class="project-img-wrapper" [@slideUp]="el._intersecting ? 'in' : 'out'">
      <img src="{{ project.img }}" alt="project image" class="">
      <div class="img-overlay">
        <div class="">
          <span *ngFor="let tag of project.tags" class="project-tag">{{ tag }}</span>
        </div>
      </div>
    </div>
    <div class="" [@slideUp]="el._intersecting ? 'in' : 'out'">
        <h2>{{ project.name }}</h2>
        <p>{{ project.description }}</p>
        <div class="buttons">
            <!-- <button>JS Doc</button> -->
            <a href="{{ project.GHlink }}" target="__blank" [class.btn-disabled]="project.name === 'Kochwelt'" class="btn">GitHub</a>
            <a href="{{ project.link }}" target="__blank" [class.btn-disabled]="project.name === 'My website'" class="btn">Try out</a>
        </div>
    </div>
  </div>

</section>
