@import './src/breakpoints.scss';

#portfolio {
  display: flex;
  flex-direction: column;
  // gap: 60px;
}

.filter-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px var(--distX);
  position: relative;
}

.section-hl {
  text-transform: capitalize;
  //font-family: 'Roboto Mono', monospace;
  font-weight: 900;
  position:absolute;
  top:2.5rem;
  margin: 0;
}

// .section-hl::before{
//   content:'Featured';
//   text-transform: lowercase;
//   color: var(--col-white);
//   font-size:3rem;
//   opacity:0.1;
//   font-weight:900;
//   position: relative;
//   left:33%;
//   // bottom:8px;
//   border-bottom: 2px solid white;
//   // padding-right: 25%;
// }

// .section-hl::after{
//   content:'Projects';
//   text-transform: lowercase;
//   // color: var(--col-teal);
//   font-size: 3rem;
//   opacity: 0.1;
//   font-weight:800;
//   position: relative;
//   // top:8px;
//   top: 1rem;
//   right: 33%;
//   z-index:1;
// }

.shadow-hl::before {
  content: 'Featured';
  text-transform: lowercase;
  // color: var(--col-teal);
  font-size: 3rem;
  opacity: 0.1;
  font-weight: 900;
  // position: absolute;
  top:0;
  left:0;
  border-bottom: 2px solid white;
  // padding-right: 25%;
  margin-bottom:30px;
}

.filter-buttons {

  display: block;
  width: 100%;
  padding-top: 60px;

  button {
    cursor: pointer;
    width: 33%; // 1% left todistribute as margin 
    height: 50px;
    border: 1px solid var(--col-red-05);
    border: 1px solid var(--col-teal);
    box-sizing: border-box;
    border-radius: 2px;

    &:nth-child(2) {
      margin-left: 0.5%;
      margin-right: 0.5%;
    }

    @media screen and (max-width: 402px) {
      // &:nth-child(2) {
      //   margin: 0;
      // }
      // font-size: 1.2rem;
    }

    &:hover:not(.selected) {
      border-color: var(--col-red);
      color: var(--col-red);
    }
  }

  .selected {
    background-color: var(--col-red);
    background-color: var(--col-cyan-40);
    background-color: var(--col-teal);
    border: 1px solid var(--col-teal);
    color: var(--col-blue-10);
  }

  @media screen and (max-width: 402px) {

    display: grid;
    grid-gap: 8px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    button {
      width: 100%;
      font-size: 1.1rem;
      box-shadow: inset 0 1px 0 rgb(255, 255, 255, 0.15), 0 1px 1px rgb(0, 0, 0, 0.08);

      &:nth-child(2) {
        margin: 0;
      }

    }

    button:last-child {
      grid-column: span 2;
    }
  }

}

.portfolio-row::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--col-darkblue-05);
  background: rgba(0, 0, 18, 0.3);
  box-shadow: 0 0 10px 3px rgba(0, 0, 18, 0.3);
  border-radius: 4px;
  //border: 1px solid rgba(255,255,255, 0.3);

  @media screen and (max-width: $breakpoint-smmd) {
    display: none;
  }
}

.portfolio-row {
  margin: 0px var(--distX) 60px var(--distX);
  background: var(--col-darkblue-05);
  // background-color:rgba(255,255,255,0.06);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;

  @media screen and (min-width: calc($breakpoint-smmd + 1px)) {
    &:nth-child(2n+1) {
      flex-direction: row-reverse;
    }
  }

  @media screen and (max-width: $breakpoint-smmd) {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    // width: 100%;
    // padding-left:0;
    // padding-right:0;
    padding: 32px;

    // &:nth-child(2n+1) {
    //   flex-direction: column-reverse;
    // }

    .project-img-wrapper {
      width: 100% !important;
      // height: 50%;
    }

    .buttons {
      margin-top: 8px;
    }

    div {
      width: 100% !important;
    }


  }

  .project-img-wrapper {
    // cursor: pointer;
    width: 45%;
    position: relative;
    //display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    // background-color: rgba(0, 20, 20, 0.5);
    // border: 1px solid var(--col-red);
    border-radius: 4px;

    &:hover {
      .img-overlay {
        height: 100%;
        // animation: slideUp 450ms ease-in-out;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      box-sizing: border-box;
      border-radius: 4px;
      transition: var(--transition);
      padding: 8px;
      background: black;
    }


    // &:hover {
    //   transform: scale(1.3);
    // }
  }

  .img-overlay {
    position: absolute;
    // top: 0; bottom: 0;
    width: 100%;
    height: 0; // on hover --> show 100%
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 20, 20, 0.9);
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 225ms ease-out;
    // transition: var(--transition);
    // display: none; // !!!
    overflow: hidden;

    div {
      width: 80%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }
  }

  .project-tag {
    font-family: 'Roboto Mono', monospace;
    color: var(--col-teal);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 4px;
    //margin: 4px;
    border: 1px solid var(--col-teal);
    border-radius: 6px;
    transition: var(--transition);
    cursor: default;

    &:hover {
      transform: scale(1.01);
      color: var(--col-red);
      border: 1px solid var(--col-red);
    }
  }

  div {
    width: 45%;
    //padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    h2 {
      width: 100%;
      text-align: center;
      font-weight: 700;
      font-size:1.2rem;
      border: none;
      margin: 0;
      padding: 0;
      text-transform: capitalize;
    }

    h2::after {
      content: '';
      width: 30px;
      height: 2px;
      color: red;
    }

    p {
      margin-top:0.5em;
      text-align: center;
      line-height: 1.3;
      color: rgba(225, 225, 225, 0.9);
      // color: rgba(0,0,0,0.65); // darker 3

      @media screen and (max-width: $breakpoint-md) {
        line-height: 1.2;
      }

      @media screen and (max-width: $breakpoint-sm) {
        line-height: 1.3;
        //font-size: 14px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      width: 100%;
      // gap: 32px;
      // justify-content: center; 
      justify-content: space-between;
      align-items: flex-end;

      a:nth-child(2n):not(.btn-disabled) {
        background-color: var(--col-teal-02);
        // color: var(--col-blue-10);
      }

      a {
        // width: 128px;
        height: 60px;
        border-radius: 4px;
        width: 40%;
        //padding: 8px 16px;
        // border: 1px solid var(--col-teal);
        border: 1px solid var(--col-teal);

        &:hover:not(.btn-disabled) {
          // background-color: var(--col-teal);
          // border-color: var(--col-teal);
          // color: var(--col-blue-10);

          border-color: var(--col-red);
          color: var(--col-red);
        }

        @media screen and (max-width: $breakpoint-lg) {
          //992px
          height: 55px;
        }

        @media screen and (max-width: $breakpoint-sm) {
          height: 55px;
        }

      }

    }
  }
}

.project-description-wrapper {
  width: 45%;
  // background-color: var(--col-darkblue-05);
  border-radius: 4px;
  box-sizing: border-box;
  // padding: 16px !important;

}

@keyframes slideUp {
  0% {
    opacity: 0;
    height: 0;
    transform: translateY(100%);
  }

  50% {
    display: flex;
    opacity: 0.5;
    height: 50%;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    height: 100%;
  }
}
