<section id="portfolio" #portfolio>

  <div class="filter-row">
    <h2 appObserveIntersection #pfHeaderEl="intersection" [@slideIn]="pfHeaderEl._intersecting ? 'in' : 'out'" class="hl-underline">Portfolio</h2>
    <div class="" appObserveIntersection #filterBtnsEl="intersection" [threshold]="1" [rootMargin]="'200px 0px -100px 0px'"></div>
    <div class="filter-buttons" [@slideUp]="filterBtnsEl._intersecting ? 'in' : 'out'">
      <button (click)="filterProjects()" [class.selected]="filter === undefined">All</button>
      <!-- <span class="mobile-row"> -->
      <button (click)="filterProjects('JavaScript')" [class.selected]="filter === 'JavaScript'">JavaScript</button>
      <button (click)="filterProjects('Angular')" [class.selected]="filter === 'Angular'">Angular</button>
      <!-- </span> -->
    </div>
  </div>

  <div *ngFor="let project of filteredProjects, let i = index" class="portfolio-row" appObserveIntersection #el="intersection" [threshold]="0.5" [rootMargin]="'500px 0px 0px 0px'">
    <!-- using flex row-reverse also reverse on every second row, angular animation dirction! -->
    <div class="project-img-wrapper"
    appObserveIntersection #imgEl="intersection" [@slideIn]="i%2 == 0 && imgEl._intersecting ? 'in' : 'out'" [@slideInReverse]="i%2 != 0 && imgEl._intersecting ? 'in' : 'out'" 
    [threshold]="0.5" [rootMargin]="'500px 0px 0px 0px'">
      <img src="{{ project.img }}" alt="project image" class="">
      <div class="img-overlay">
        <div class="">
          <span *ngFor="let tag of project.tags" class="project-tag">{{ tag }}</span>
        </div>
      </div>
    </div>
    <div class="project-description-wrapper" 
    appObserveIntersection #descriptionEl="intersection" [@slideIn]="i%2 != 0 && descriptionEl._intersecting ? 'in' : 'out'" [@slideInReverse]="i%2 == 0 && descriptionEl._intersecting ? 'in' : 'out'"
    [threshold]="0.5" [rootMargin]="'500px 0px 0px 0px'">
        <h2>{{ project.name }}</h2>
        <p>{{ project.description }}</p>
        <div class="buttons">
            <!-- <button>JS Doc</button> -->
            <a href="{{ project.GHlink }}" target="_blank" [class.btn-disabled]="project.name === 'Kochwelt'" class="btn">GitHub</a>
            <a href="{{ project.link }}" target="_blank" [class.btn-disabled]="project.name === 'My website'" class="btn">Try out</a>
        </div>
    </div>
  </div>

</section>
