@import './src/breakpoints.scss';

#portfolio {
  display: flex;
  flex-direction: column;
  gap: 32px;
  //background-color: var(--col-bg-light); // darker 1 --> into body
  
  .portfolio-row {
    padding: 3rem var(--distX);
  }
}

.filter-row, .portfolio-row {
  background-color: var(--col-grey-035); // darker 2
  background-color: var(--col-bg-light); // lighter 1
  // background-color: var(--col-white);
}

.filter-row {
  display: flex;
  flex-direction: column;
  align-items: center;
//   margin-bottom: -32px;
  // padding: 16px var(--distX);
  padding: 60px var(--distX) 0 var(--distX);
   padding: 60px var(--distX);
  position: relative;

  .filter-divider {
    height: 4px;
    width: 150px;
    background-color: var(--col-black) !important;
    background-color: red;
    position: relative;
    top: 8px;
  }
}

h2 {
  font-weight: 100;
  font-size: 1.3rem;
  display: inline-block;
  // text-align: center;
  padding-bottom: 16px;
  text-transform: uppercase;
  border-bottom: 4px solid var(--col-black);
  margin-bottom: 0;
  // margin-top: 16px;
}

.filter-buttons {

  display: block;
  width: 100%;
  padding-top: 48px;
        
  button {
    cursor: pointer;
    width: 33%; // 1% left todistribute as margin 
    height: 50px;
    border: 1px solid var(--col-teal);
    border: 1px solid var(--col-cyan-40);
    box-sizing: border-box;

    &:nth-child(2) {
      margin-left: 0.5%;
      margin-right: 0.5%;
    }

    &:hover:not(.selected) {
      background-color: var(--col-teal-02);
      background-color: var(--col-teal);
      border-color: var(--col-teal);
      color: var(--col-gray);
    }
  }

  .selected {
    background-color: var(--col-teal);
    background-color: var(--col-cyan-40);
  }

  @media screen and (max-width: 402px) {
    display: grid;
    grid-gap: 1px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    button {
      width: 100%;
    }

    button:last-child {
      grid-column: span 2;
    }
  }

  @media screen and (max-width: $breakpoint-xs) {
    button {
      font-size: 0.9rem;
    }
  }
}

.portfolio-row {
//   padding: var(--distX);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  @media screen and (min-width: calc($breakpoint-smmd + 1px)) {
    &:nth-child(2n+1) {
      flex-direction: row-reverse;
    }
  }

  @media screen and (max-width: $breakpoint-smmd) {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding-left:0;
    padding-right:0;

    // &:nth-child(2n+1) {
    //   flex-direction: column-reverse;
    // }

    .project-img-wrapper {
      width: 100% !important;
      // height: 50%;
    }

    div {
      width: 100% !important;
    }

    
  }

  .project-img-wrapper {
    //cursor: pointer; // !!!
    width: 45%;
    position: relative;
    //display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      object-fit: contain;
      box-sizing: border-box;
      border-radius: 4px;
      border-top: 12px solid rgba(0,0,0);
      border-bottom: 12px solid rgba(0,0,0);
      border-left: 6px solid rgba(0,0,0,0.9);
      border-right: 6px solid rgba(0,0,0,0.9);
    }
  }
  
  .img-overlay {
    position: absolute;
    // top: 0; bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    // box-sizing: border-box;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    display: none; // !!!

    div {
      width: 80%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0.4rem;
    }
  }

  .project-tag {
    color: var(--col-blue-primary);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 4px;
    //margin: 4px;
    border: 1px solid var(--col-blue-primary);
    border-radius: 6px;
    transition: var(--transition);

    &:hover {
      transform: scale(1.03);
    }
  }

  div {
    width: 45%;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      width: 100%;
      text-align: center;
      font-weight: 700;
      border: none;
      margin: 0;
      padding: 0;
      text-transform: capitalize;
    }

    p {
      text-align: center;
      line-height: 1.3;
      color: var(--col-grey); // lighter
      color: rgba(0,0,0,0.65); // darker 3

      @media screen and (max-width: $breakpoint-md) {
        line-height: 1.2;
      }
      
      @media screen and (max-width: $breakpoint-sm) {
        line-height: 1.3;
        //font-size: 14px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      width: 100%;
      // gap: 32px;
      // justify-content: center; 
      justify-content: space-between;
      align-items: flex-end;

      a:nth-child(2n) {
        background-color: var(--col-teal-05);
        background-color: var(--col-cyan-40);
      }

      a { 
        // width: 128px;
        height: 60px;
        border-radius: 4px;
        width: 40%;
        //padding: 8px 16px;
        border: 1px solid var(--col-teal);
        border: 1px solid var(--col-cyan-40);
        
        &:hover {
          background-color: var(--col-teal);
          border-color: var(--col-teal);
        }

        @media screen and (max-width: $breakpoint-lg) { //992px
          height: 55px;
        }

        @media screen and (max-width: $breakpoint-sm) {
          height: 55px;
        }

      }

    }
  }
}
