@import './src/breakpoints.scss';

.menu-spacer {
  flex: 1 1 auto;
}

.menu {
    background-color: var(--col-blue-10);
    height: var(--menu-height);
    padding: 0 var(--distX);
    font: 500 500 20px/32px Roboto, "Karla", sans-serif; 
    // font: inherit;
    // font-weight: 600;
    z-index: 3;
    position: fixed;
    box-sizing:border-box;
    // box-shadow: 0 0 25px -9px var(--col-teal);

    .logo-wrapper {
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        a {
            display: flex;
            align-items: center;
            justify-content: center;;
        }
    }

    .logo {
        width: 46px;

        &:hover {
            opacity: 0.8;
        }
    }

    .menu-link {
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 16px;
        //padding: 0px 16px;
        padding:0;
        margin: 0 16px;
        text-transform: uppercase;

        &:last-of-type {
            margin-right: 0; // GN!! 
        }
    }

    // .mobile-menu {
    //     position: fixed;
    //     top: var(--menu-height);
    //     left: 0; right: 0;
    //     height: 100px;
    //     //width: 100vw;
    //     padding-left: var(--distX);
    //     display: flex;
    //     flex-direction: column;
    //     z-index: 2;
    //     background-color: var(--col-black);
    // }
    
    .mobile-menu-btn {
        height: 100%;
        padding: 0;
    }

    .mobile-menu-icon {
       width: 28px; 
    }
    
    .menu-link, .mobile-menu-icon {

        transition: var(--transition);

        &:hover {
            // color: rgba(255,255,255,0.8);
            opacity: 0.8;
        }

    }

}

/*** hamburger menu svg for mobile menu ***/ 
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 150%;
  height: 100%;

  &:hover{
    opacity: 0.8;
  }

}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #ffffff;
    stroke-width: 4.5;
    stroke-linecap: round;
}

.ham .top {
  stroke-dasharray: 40 172;
}

.ham .middle {
  stroke-dasharray: 40 111;
}

.ham .bottom {
  stroke-dasharray: 40 172;
}

.ham.active .top {
  stroke-dashoffset: -132px;
}

.ham.active .middle {
  stroke-dashoffset: -71px;
}

.ham.active .bottom {
  stroke-dashoffset: -132px;
}

/*** ***/

.mat-icon {
    font-size: 36px;
    width: 32px;
}

.menu-border {
    border-bottom: 1px solid var(--col-teal);
    transition: var(--transition);
    animation: slideInBorder 400ms ease-out;
    // or box-shadow
}

.menu-shadow {
    box-shadow: 0 0 25px -9px var(--col-teal);
}

.border-fade-out {
    animation: slideOutBorder 400ms ease-out;
}

// app-home {
//     border-bottom: 0.25rem solid var(--col-teal);
// }

.divider {
  position: sticky;
  position: -webkit-sticky;
  /* Safari */
  top: calc(var(--menu-height) + 4px);
  z-index: 10;
  width: 100%;
  height: 4px;
  background-color: var(--col-teal);
}

@keyframes slideInBorder {
    0% {
        border:none;
    }
    50% {
       border-bottom: 0.5px solid var(--col-teal-05);
    }
    100% {
        border-bottom: 1px solid var(--col-teal);
    }
}

@keyframes slideOutBorder {
    0% {
        border-bottom: 1px solid var(--col-teal);
    }
    50%{
        border-bottom: 1px solid var(--col-teal-05);
    }
    100% {
        border: none;
    }
}

@media screen and (min-width: calc($breakpoint-sm + 1px)){
    .mobile-menu-btn {
        display: none;
    }

}

@media screen and (max-width: $breakpoint-sm) {
    .mobile-menu-btn {
        display: block;
    }

    .link-desktop {
        display: none;
    }
}