<!-- Toolbar (Desktop) -->
<mat-toolbar class="menu">
  <!-- open mobile menu, only show in  mobile view-->
  <button mat-icon-button class="mobile-menu" aria-label="Example icon-button with menu icon">
    <mat-icon class="mobile-menu-icon">menu</mat-icon>
  </button>
  <span>LOGO</span>
  <span class="menu-spacer"></span>
  <span class="menu-link">About</span>
  <span class="menu-link">Portfolio</span>
  <span class="menu-link">Contact</span>
</mat-toolbar>
<!-- END Toolbar -->

<app-home></app-home>
<router-outlet></router-outlet>
