<!-- Toolbar (Desktop) -->
<mat-toolbar class="menu" [class.menu-border]="showDivider">
  <!-- open mobile menu, only show in  mobile view-->
  <button mat-icon-button class="mobile-menu" aria-label="Example icon-button with menu icon">
    <mat-icon class="mobile-menu-icon">menu</mat-icon>
  </button>
  <span class="c-pointer" [routerLink]="['/']">LOGO</span>
  <span class="menu-spacer"></span>
  <a class="menu-link" [routerLink]="['/about-me']">About</a>
  <a class="menu-link" href="#portfolio">Portfolio</a>
  <a class="menu-link" href="#contact">Contact</a>
</mat-toolbar>
<!-- END Toolbar -->

<router-outlet></router-outlet>

<app-footer></app-footer>
