<!-- Toolbar (Desktop) -->
<!-- <mat-toolbar class="menu" [class.menu-border]="showDivider || currentRoute === '/about-me'"> -->
<mat-toolbar class="menu" [ngClass]="{'menu-border': showDivider || currentRoute === '/about-me', 'border-fade-out': !showDivider}">
  <span class="logo-wrapper" [routerLink]="['/']" fragment="home" matTooltip="Home">
    <a ><img src="assets/img/logo-white.png" alt="logo" class="logo"></a>
  </span>
  <span class="menu-spacer"></span>
  <a class="menu-link link-desktop" [routerLink]="['/about-me']" routerLinkActive="active-link">About</a>
  <a class="menu-link link-desktop" href="#portfolio">Portfolio</a>
  <a class="menu-link link-desktop" href="#contact">Contact</a>
  <!-- open mobile menu, only show in  mobile view-->
  <!-- <button mat-icon-button class="mobile-menu-btn" (click)="toggleMenu()" aria-label="button with menu icon"> -->
    <!-- <mat-icon class="mobile-menu-icon">menu</mat-icon> -->
    <button class="mobile-menu-btn" (click)="toggleMenu()" aria-label="button with menu icon">
      <img src="assets/img/icons/menu-white.png" class="mobile-menu-icon">
    </button>
  <!-- </button> -->
</mat-toolbar>
<div [@slideDown]="showMobileMenu ? 'open' : 'closed'" class="mobile-menu">
  <a class="menu-link" [routerLink]="['/about-me']" routerLinkActive="active-link">About</a>
  <a class="menu-link" href="#portfolio">Portfolio</a>
  <a class="menu-link" href="#contact">Contact</a>
</div>
<!-- END Toolbar -->

<router-outlet></router-outlet>

<app-footer></app-footer>
