<app-home appObserveIntersection (isIntersecting)="onIntersection($event, 'home')" [rootMargin]="'0px'" [threshold]="0.1"></app-home>
<app-portfolio appObserveIntersection (isIntersecting)="onIntersection($event, 'portfolio')" [rootMargin]="'0px'" [threshold]="0.1"></app-portfolio>
<app-about appObserveIntersection (isIntersecting)="onIntersection($event, 'about')" [rootMargin]="'0px'" [threshold]="0.1"></app-about>
<app-contact appObserveIntersection (isIntersecting)="onIntersection($event, 'contact')" [rootMargin]="'0px'" [threshold]="0.1"></app-contact>