@import './src/breakpoints.scss';
// @import './src/fonts.scss'; // GET http://localhost:4200/assets/fonts/... net::ERR_ABORTED 404 (Not Found) in Console

:root {
    --menu-height: 60px;
    --canvas-btm-height: 117px;

    --col-red: rgb(250, 39, 89);
    --col-teal: rgb(45, 252, 216);
    --col-teal-2: rgba(46, 252, 216, 1);
    --col-dark: rgb(26, 26, 26); // #1a1a1a

    --col-red-05: rgba(250, 39, 89, 0.5);
    --col-teal-05: rgba(45, 252, 216, 0.5);
    --col-grey-05: rgba(91, 89, 99, 0.5);
    --col-black-09: rgba(40, 40, 40, 0.9);
    --col-black-05: rgba(40, 40, 40, 0.5);
    --col-red-02: rgba(250, 39, 89, 0.2);
    --col-teal-02: rgba(45, 252, 216, 0.2);
    --col-grey-02: rgba(91, 89, 99, 0.2);

    --col-grey-035: rgba(91, 89, 99, 0.35);


    --col-dark2: rgb(27, 36, 47);
    --col-grey: rgb(91, 89, 99); // paragraph text, light bg
    --col-black: rgb(40, 40, 40);

    --col-indigo-secondary: rgb(175, 154, 190); // rename
    
    --distX: 48px; // seitenabstände
    --transition: all 125ms linear;
    
    // minimal color scheme
    --col-bg-light: rgb(229, 229, 229);
    --col-blue-primary: rgb(18, 107, 251);
    --col-blue-secondary: rgb(238, 244, 255);
    --col-blue-action: rgb(123, 185, 250);
    // --col-grey: rgb(91, 89, 99);
    // --col-black: rgb(40, 40, 40);

    --col-white: rgb(245, 243, 243);

}

/* karla-regular - latin */
@font-face { // same err as above
  font-family: 'Karla';
  src: url('/assets/fonts/karla-v23-latin-regular.ttf') format('truetype');
}

html, body { 
    height: 100%; 
    scroll-behavior: smooth;
    font-family: Karla, sans-serif; // download Karla
    font-size: calc(16px + (28 - 16) * ((100vw - 320px) / (1600 - 320))); // 1rem between 16px and 28px (viewports between 320px - 1600px)
}

body { 
  margin: 0; 
  // font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-family: Karla, sans-serif; // download Karla
  color: var(--col-black);
  background-color: var(--col-white);
}

button {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 800;
  transition: var(--transition);
  box-sizing: border-box;
}

p {
  font-size: 16px;

  @media screen and (max-width: $breakpoint-xs){
    margin: 14px 0;
    font-size: 14px;
  }
}

textarea,
input {
  box-sizing: border-box;
  padding: 16px;
  font-size: 16px;
  font-family: inherit;
  border-radius: 2px;
  // background-color: var(--col-teal-02);
  background: white;
  background: rgba(26,26,26,1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: 8px;
  margin-bottom: 4px;
  caret-color: var(--col-teal-2);
  color: white;
  

  &:focus {
    outline: 1px solid var(--col-teal-2);
  }
}

.btn {
  cursor: pointer;
  font-weight: 800;
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  transition: var(--transition);
}

h2 {
  // font-size: 2rem;
  margin: 0;
}

h3 {
  // font-size: 1.5rem;
}

// h4 {}

.mb-32 {
  margin-bottom: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-16 {
  margin-top: 16px;
}

.align-center {
  text-align: center;
}

.c-pointer{
  cursor: pointer;
}

.width-100 {
  width: 100%;
}

.btn-disabled {
  background-color: var(--col-grey-02) !important;
  cursor: not-allowed;
  border: none !important;
}

a.disabled, .disabled-link {
  pointer-events: none !important;
  opacity: 0.5;
}

.active-link {
  border-bottom: 2px solid rgba(255,255,255,0.8);
  color: rgba(255,255,255,0.8) !important;
}

// menu 

.mobile-menu {
  position: fixed;
  top: var(--menu-height);
  left: 0;
  right: 0;
  height: 100px;
  //width: 100vw;
  padding: 16px var(--distX);
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: var(--col-black-09);
  transition: var(--transition);

  @media screen and (min-width: calc($breakpoint-sm + 1px)) {
    // display: none;
    top: -100%;
  }

  .menu-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    // padding: 0px 16px;
    margin-bottom:16px;
    text-transform: uppercase;
    font-weight: 700;
    //text-align: right;

    &:last-child {
      margin-bottom: 0px;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .active-link {
    border: none;
    color: rgba(255,255,255,0.8);
  }
}

.slide-down {
  animation: slideDown 5s linear; // change animation-duratoion later
  ;
}

@keyframes slideDown {
  50% {
    transform: translateX(+50%);
  }
  100% {
    transform: translateX(+100%);
  }
}

// 


@media screen and (max-width: $breakpoint-xs) {
  :root {
    --distX: 32px;
  }
}

@media screen and (min-width:calc($breakpoint-md + 1px)) {
  :root {
    --distX: 84px;
  }
}

@media screen and (min-width: calc($breakpoint-lg + 1px)) {
  :root {
    --distX: 112px;
  }
}

@media screen and (min-width: calc($breakpoint-xl + 1px)) {
  :root {
    --distX: 144px;
  }

  p{
    font-size: 18px;
  }
}

@media screen and (min-width: calc($breakpoint-xxl + 1px)) {
  :root {
    --distX: 180px; // test
  }
}


