<div class="frame" id="frame" #frame>
  <div class="header">
    <div class="">Hello, I am <span class="">Ines</span> Fritsch</div>
    <div class="subtitle">Front-End <span>develop<span class="color-spot">e</span>r</span></div>
  </div>
  <canvas #canvas id="canvas"></canvas>
</div>

<div class="frame-bottom">
  <a class="link" href="#portfolio">View my work</a>
</div>

<!-- <div class="section-block">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nemo quasi excepturi! Ducimus esse,
    veniam nulla adipisci natus quo minus.</p>
</div> -->
