@import './src/breakpoints.scss';

.frame {
  // background: radial-gradient(#330057, var(--col-black), #000000);
  background: radial-gradient(#330057, var(--col-black)); // for rain-effect
  background: url('https://picsum.photos/600/600?grayscale');
  // background: url('/assets/img/bg-img/giovanni-corte-n9SLYuyyZhQ-unsplash.jpg');
  background: url('../../assets/img/bg-img/marcelo-quinan-R3pUGn5YiTg-unsplash.jpg');
  background: url('../../assets/img/bg-img/kevin-ku-w7ZyuGYNpRQ-unsplash (1).jpg');
  background: url('../../assets/img/bg-img/benjamin-voros-phIFdC6lA4E-unsplash.jpg');
  background: url('../../assets/img/bg-img/marc-linnemann-wDx3q0yb7fk-unsplash.jpg');
  background: url('../../assets/img/bg-img/alejandro-escamilla-N7XodRrbzS0-unsplash-nologo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 33%;
  position: relative;
  width: 100%;
  height:100vh;
  // height: calc(100vh - var(--menu-height));
  position: relative;
  // top: var(--menu-height);
  box-sizing: border-box;
}

.frame-bottom {
  height: var(--canvas-btm-height);
  box-sizing: border-box;
  text-align: center;
  // padding-bottom: 32px;
  // padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--col-darkblue-05);
  // background-color: rgba(0,0,0,0.5);
  box-shadow: 0 0 9px -7px var(--col-teal);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .link {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.3rem;
    border-bottom: 4px solid white;
    font-weight: 500;
    // padding: 16px 0;
    padding-bottom: 16px;
    color: white;
    box-sizing: border-box;
    transition: var(--transition);

    &:hover {
      color: rgba(255,255,255,0.8);
      border-color: rgba(255,255,255,0.8);      
    }
  }

}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: var(--menu-height);
  box-sizing: border-box;
}

.header {
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  z-index: 1;
  color: white;
  position: absolute;
  top: calc((50% + (var(--menu-height) * 0.5)) - 58.5px); // 58.5: frame-bottom /2 
  transform: translate(0, -50%);
  text-align: center;
  width: 100%;
  box-sizing: border-box;

  span {
    color: var(--col-teal-a);
    color: var(--col-red);
    font-weight: 700;
  }

  .color-highlight {
    color: var(--col-teal);
    // color: var(--col-cyan-40);
  }

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: $breakpoint-xs) {
    font-size: 1.2rem;
  }

}

// .subtitle {
//   font-size: 1.5rem;
// }
