@import './src/breakpoints.scss';

.frame {
  // background: radial-gradient(#330057, var(--col-black), #000000);
  background: radial-gradient(#330057, var(--col-black)); // for rain-effect
  background: url('https://picsum.photos/600/600?grayscale');
  // background: url('../../assets/img/bg-img/kevin-ku-w7ZyuGYNpRQ-unsplash (1).jpg');
  // background: url('../../assets/img/bg-img/marc-linnemann-wDx3q0yb7fk-unsplash.jpg');
  background: url('../../assets/img/bg-img/alejandro-escamilla-N7XodRrbzS0-unsplash-nologo.jpg');
  // background: url('../../assets/img/bg-img/alejandro-escamilla-N7XodRrbzS0-unsplash-nologo-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 33%;
  position: relative;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: var(--view-height); // 100vh --> issues on mobile devices
  max-height: fill-available;
  max-height: -webkit-fill-available;
}

.frame-bottom {
  height: var(--canvas-btm-height);
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--col-darkblue-05);
  box-shadow: 0 -3px 2px -3px var(--col-blue-10);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .link {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.3rem;
    border-bottom: 4px solid white;
    font-weight: 500;
    padding-bottom: 16px;
    color: white;
    box-sizing: border-box;
    transition: var(--transition);

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 1.2rem;
    }

    @media screen and (max-width: $breakpoint-xs) {
      font-size: 1.1rem;
    }

    &:hover {
      color: rgba(255,255,255,0.8);
      border-color: rgba(255,255,255,0.8);      
    }
  }

}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: var(--menu-height);
  box-sizing: border-box;
}

.hl-container {
  top: calc((50% + (var(--menu-height) * 0.5)) - 58.5px); // 58.5: frame-bottom /2 
  transform: translate(0, -50%);
  width: 100%;
  box-sizing: border-box;
  // border: 1px solid lime;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-headline {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  margin-bottom: 16px;
  font-size: 0.8rem;
  color: var(--col-teal-05);
  // -webkit-writing-mode: vertical-rl;
  // writing-mode: vertical-rl;
  // transform: rotate(180deg);
  // border-left: 1px solid var(--col-teal);
  // position: absolute;
  top: 0;
}

.pre-headline::after{
  content:'INES';
  text-align: right;
  width:200%;
  height:1px;
  // margin-left: 40%;
  display: block;
  position: relative;
  // bottom: -8px;
  background-color: var(--col-teal-05);
}

.hl-name {
  margin-top: 24px;
}

.hl-subtitle{
  font-size:2rem; // res 1.5
  margin-top: 16px;
  span {
    position: relative;
    left: 100%; // res 110%
    // color: var(--col-red) !important; // TODO rm other span col 8or make more specific)
    z-index:2;
  }
}

.hl-subtitle::before{
  content: 'FRONTEND';
  text-transform: uppercase;
  position: absolute;
  bottom: -8px;
  // display:block;
  // bottom: 16px;
  width: 100%;
  text-shadow: -1px -1px 6px rgba(255,255,255);
  font-size: 3rem; // res 2.5
  opacity: 0.5;
  font-weight: 800;
  margin-right: 8px;
  
}

.header {
  transform: translate(-50%,0); // wg absoluten, rel pos hl aus kasten hinaus /ca + 100%
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  z-index: 1;
  color: white;
  position: relative;
  // text-align: center;

  span {
    color: var(--col-red);
    color: var(--col-teal);
    font-weight: 700;
  }

  .color-highlight {
    color: var(--col-teal);
    // color: var(--col-cyan-40);
  }

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: $breakpoint-xs) {
    font-size: 1.2rem;
  }

}
