.frame {
  // background: radial-gradient(#330057, var(--col-black), #000000);
  background: radial-gradient(#330057, var(--col-black));
  position: relative;
  width: 100%;
  // height: 70vh;
  height: calc(100vh - (69px + 32px + 16px));
}

.frame-bottom {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
  box-sizing: border-box;
  background-color: var(--col-black);

  .link {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.8rem;
    border-bottom: 4px solid white;
    font-weight: 500;
    padding: 16px 0;
    color: white;
    box-sizing: border-box;
    transition: var(--transition);

    &:hover {
      color: rgba(255,255,255,0.8);
      border-color: rgba(255,255,255,0.8);      
    }
  }

}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: radial-gradient(#330057, #000000); */
  /* background: radial-gradient(#ffc38c, #ff9b40); */
  /* background-color: rgb(185, 185, 185); */
  padding-top: var(--menu-height);
  /* 60px padding-top, height of navbar */
  /* padding-top: 4.5rem; */
  box-sizing: border-box;
}

.header {
  letter-spacing: .1rem;
  font-size: calc((24px + 4.5vw)*.4) !important;
  // font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  z-index: 1;
  position: relative;
  color: white;
  position: absolute;
  left: 50%;
  top: calc(50% + 30px);
  transform: translate(-50%, -50%);
  // text-align: center;
  border-left: 4px solid var(--col-red);
  padding-left: 16px;

  span {
    // color: var(--col-teal);
    color: var(--col-red);
    font-weight: 700;
  }

  // .color-spot {
  //   color: var(--col-teal);
  // }

}

// .subtitle {
//   font-size: 1.5rem;
// }
