<section id="home">
  <div class="frame" id="frame" #frame>
    <div class="hl-container">
      <div class="header">
        <div class="pre-headline">Hello, I am</div>
        <div class="hl-name"><span class="">Ines</span> Fritsch</div>
        <div class="hl-subtitle"><span>developer</span></div>
      </div>
    </div>
    <canvas #canvas id="canvas"></canvas>

    <div class="frame-bottom">
      <a [routerLink]="['']" fragment="portfolio" class="link">View my work</a>
    </div>

  </div>

</section>

